.header_container {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: white:
	height: 77px;
	border-bottom: #E6E6E6 solid 1px; 

	padding-left: 200px;
	padding-right: 200px;


}
.search_container{
	display: flex;
}
.overall_container{
	display: flex;
	justify-content: center;
}
.search_content{
	width: 200px;
	height: 27px;
	background-color: #F9F9F9; 
	border-radius: 4px;
	border: 1px solid: #DBDBDB;
	/*padding-left: 30px;*/
	text-align: center;
}
.fa-search{
	position: absolute;
	margin-top: 6px;
	font-size: 20px; 
	padding-left: 10px;
	color: #BABBBE;
}

.explore_link{
	font-size: 20px;
	color: black;
	margin-left: 10px;
	margin-right: 5px;
}
.feed_container {

	max-width: 600px;
	max-width: 100%;
	margin-top: 60px;
	border: 1px solid: #e6e6e6;

}
.author_container{
	display: flex;
	align-items: center;
	height: 60px;
	padding-left: 15px;

	background-color: white;
}
.author_image{
	width: 33px;
	height: 33px;
	border-radius: 50%;

}
.author_name{
	margin-left: 10px;
}
.insta_img{
	border: 1px solid: #e6e6e6;
	max-width: 600px;
	height: 600px;
}
.contents_container{
	/*border: 1px solid: #e6e6e6;*/
	background-color: white;
	width: 600px;
	padding: 14px 14px;

}
.action_container i{
	font-size: 22px;
	margin-right: 10px;
}

.fa-comment-o{
	padding-bottom: 7px;
}
.likes_count{
	margin-top: 2px;
}
.comment_author{
	font-weight: 600;
}
.content_time{
	font-size: 10px;
	color: #999;
}

.addcomment_container{
	margin-top: 15px;
}

.addcomment_container input{
	padding-top: 20px;
	width: 90%;
	border: none;
	border-top: 1px solid: #e6e6e6;
	padding-bottom: 20px;
}